.scale {
    width: 30px;
    height: 30px;
    float: right;

    /*increases the width 10 times, height 2 
    transform: scale(10, 2);*/

   /* decreases the width in half, height by 1/2 */
    /*transform: scale (.5, .25); */

    /* flips the x-axis*/
    /*transform: scale (-5, 1);*/
   /* transform: scaleX (-5); */

    /* flips the y-axis*/
    /*transform: scale(1, -5);*/
   /* transform: scaleY(-5);*/
}

.box {
    background: gray;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 20px;
}


.skew-20 {
    transform: skewX(20deg);
}


/* skews 2nd box's height 20/-20deg on the x-axis*/
.skew-neg-20 {
   /*transform: skewX(-20deg);*/
   animation: skew-h 3s infinite;
   animation-direction: alternate;
}

@keyframes skew-h {
    0% {
        transform: skewX(20deg);
    }
    100% {
        transform: skewX(-20deg);
    }
}

/* skews the 3rd box 20/-20deg on the y-axis */
.skew-neg-50 {
    /*transform: skewX(20deg);*/
    animation: skew-y 3s infinite;
    animation-direction: alternate;
}

@keyframes skew-y {
    0% {
        transform: skewY(20deg);
    }
    100% {
        transform: skewY(-20deg);
    }
}

/* rotates 4th box 360 deg */
.rotate {
    animation: rotate 5s infinite;
    animation-direction: alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
}

/* moves 5th box down 52px and to the right 65px */
.translate {
    position: absolute;
    animation: translate ease-in-out 5s infinite;
}

@keyframes translate {
    50% {
        transform: translate(65px, 52px) translateZ(0); 
    }
}

